.fieldName {
    font-weight: bold;
    font-size: 1rem;
}

.data {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.data:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}
