.default {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 1.05rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.mutation {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 1.05rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.oncogene {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 1.05rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tsg {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 1.05rem;
    margin-right: 10px;
    margin-bottom: 10px;
}