.selectedBackground {
    background-color: #D5E7F9;
    font-size: 1rem;
    background-size: 100%;
    display: inline-block;
    width: 100%;
    border-bottom: #F2F2F2 solid 1px;
}

.unselectedBackground {
    background-color: #F2F2F2;
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    border-bottom: #E0E0E0 solid 1px;
}

.custom-checkbox {
    margin-left: 5px;
}
