.functional-groups {
    padding-top: 10px;
    margin-left: 2%;
}

.group-name {
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
    max-width: 27%;
    display: flex;
    align-items: center;
}

.data-content {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
    align-items: center;
}

.data-source {
    font-weight: normal;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 5px;
}

/* gnomad */
.gnomad {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}

/* dbsnp */
.dbsnp {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}

/* functional prediction */
.functional-prediction-data {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.functional-prediction-no-data {
    font-size: 1rem;
    font-weight: bold;
}
