.functional-groups {
    padding-top: 10px;
    margin-left: 2%;
    margin-bottom: 5%;

    table {
        margin-bottom:0;
    }

    p {
        margin-bottom:5px;
    }
    p:last-child {
        margin-bottom:0;
    }

}

.group-name {
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
    max-width: 27%;
    display: flex;
    align-items: center;
}

.group-content {
    display: flex;
    align-items: center;
}

.data-content {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.data-source {
    font-weight: normal;
    font-size: 1rem;
    margin-right: 5px;
    color: black;
    text-decoration: underline;
    font-style: italic;
}

.data-source a,
.data-source a:hover,
.data-source a:focus,
.data-source a:active,
.brand-title-link:visited {
    color: black;
    // text-decoration: none !important;
}

.data-group-gap {
    display: block;
}

.no-data {
    font-size: 1rem;
    margin-left: 15px;
    color: black;
}

/* gnomad */
.gnomad {
    font-size: 1rem;
    font-weight: bold;
}

/* dbsnp */
.dbsnp {
    font-size: 1rem;
    font-weight: bold;
}

.link a,
.link a:hover,
.link a:focus,
.link a:active,
.link a:visited {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* functional prediction */
.functional-prediction-data {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.functional-prediction-no-data {
    font-size: 1rem;
    font-weight: bold;
}

// oncokb
.oncokb {
    font-size: 1rem;
    font-weight: bold;
}
