.group-name {
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.data-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.data-scouce {
    font-weight: normal;
    font-size: 0.75rem;
    vertical-align: middle;
}

/* gnomad */
.gnomad {
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}
