.selectedBackground {
    background-color: #D5E7F9;
    font-size: 1rem;
    background-size: inherit;
    display: inherit;
    box-sizing: border-box;
}

.selectedBackground .form-check {
    display: inherit;
    width: 100%;
}

.unselectedBackground {
    background-color: #F2F2F2;
    font-size: 1rem;
}
