#home-logo {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    max-width: 700px;
    color: #7b7979;
    text-align: center;
    font-size: calc(14px + 0.3vw);
}

#home-example-container {
    background-color: #f2f2f2;
    height: fit-content;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: 7rem;
}

#home-function-description {
    font-size: 1rem;
    color: #828282;
    margin: 10rem auto 4rem;
}

#home-query-example-header {
    margin: 8rem auto 3rem;
    font-size: 1.625rem;
    padding-left: 20%;
}

#home-query-example-table {
    margin: auto auto 8rem;
    font-size: 1rem;
    max-width: 1600px;
}

#search-box .form-control {
    font-size: 1.25rem;
}
