.home-logo {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.home-description {
    font-size: 1.5rem;
    margin: 7rem auto;
}

.home-example-container {
    background-color: #F2F2F2;
    height: fit-content;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: 7rem;
}

.home-function-description {
    font-size: 1rem;
    color: #828282;
    margin: 10rem auto 4rem;  
}

.home-query-example-header {
    margin: 100px auto 50px;
    font-size: 25px;
}

.home-query-example-table{
    margin: auto auto 100px;
    font-size: 15px;
}