.sidebar {
    position: sticky !important;
    top: 0;
}

.componentHeader {
    border-bottom: 2px solid #e0e0e0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #a86767;
}

.annotation-track-selector.small {
    width: 200px !important;
}

.gnomad {
    font-size: 1rem;
}